.ad1 {
  position: relative;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #105aca;
  font-size: 35px;
}
#seagull {
  position: absolute;
  left: -400px;
  top: 100px;
  margin-left: 10px;
  animation-name: moveSeagull;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveSeagull {
  0% {
    margin-left: -400px;
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    margin-left: 1700px;
    transform: scale(0.1);
    opacity: 0;
  }
}
.orewaHeader {
  background-color: rgb(51, 150, 150);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #105aca;
  font-size: 35px;
}

.imgBotToTop {
  position: absolute;
  height: 100%;
  width: 60%;
  margin-top: 20vh;
  animation-name: moveImg1;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes moveImg1 {
  0% {
    margin-top: 40vh;
    opacity: 0;
  }
  15% {
    margin-top: 0;
    opacity: 1;
  }
  90% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: 0;
    opacity: 0;
  }
}

.imgLeftToRight {
  position: absolute;
  height: 200%;
  width: 60%;
  margin-top: 20vh;
  animation-name: moveImg2;
  animation-duration: 14s;
  animation-iteration-count: 1;
}
@keyframes moveImg2 {
  0% {
    margin-left: -40vw;
    opacity: 0;
  }
  30% {
    margin-left: -40vw;
    opacity: 0;
  }
  50% {
    margin-left: 0;
    opacity: 1;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}
.name {
  position: absolute;
  font-size: 15px;
  font-style: italic;
  top: 8px;
  right: 0px;
  color: #40205a;
  transform: translate(-200%, 50%);
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
  animation-name: nameColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes nameColor {
  0% {
    color: var(--color-1);
  }

  33% {
    color: var(--color-2);
  }

  66% {
    color: var(--color-3);
  }

  100% {
    color: var(--color-1);
  }
}
.orewa::after {
  position: absolute;
  transform: translate(-200%, 50%);
  content: "";
  animation: spin 5s linear;
  animation-iteration-count: 2;
  animation-duration: 3s;
}
@keyframes spin {
  0% {
    content: "Orewa";
  }
  33% {
    content: "Peace";
  }
  66% {
    content: "Fresh";
  }
}
.come {
  position: absolute;
  font-family: Georgia, serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: come;
  animation-duration: 15s;
  animation-iteration-count: 1;
}

@keyframes come {
  0% {
    font-size: 35px;
    opacity: 0;
  }
  48% {
    font-size: 35px;
    opacity: 0;
  }
  49% {
    font-size: 35px;
    opacity: 1;
    text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue,
      0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
  }

  75% {
    font-size: 45px;
    color: aliceblue;
    text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue,
      0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;
  }

  100% {
    font-size: 35px;
    color: #105aca;
    text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue,
      0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
  }
}
